.AdminPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: rgb(222, 222, 222);
}

.AdminBtn {
	width: 75vw;
	height: 5vw;
	margin: 1vw;
	font-size: 2.5vw;
}

.AdminBtn:hover {
	cursor: pointer;
}
