.Main {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 30vh 30vh;
	width: 100vw;
	height: 100vh;

	justify-content: center;

	font-family: "Abhaya Libre";
	font-size: 22px;
	background-color: rgb(230, 230, 230);
}

.Parent {
	display: flex;
	flex-direction: column;
}

#MainBackground {
	height: 30vh;
}

#logo {
	height: 45vh;
	margin-top: -38vh;
	margin-bottom: -7vh;
}
