.Main {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 30vh 30vh;
	width: 100vw;
	height: 100vh;

	justify-content: center;

	font-family: "Abhaya Libre";
	font-size: 22px;
	background-color: rgb(255, 255, 255);
}

.Parent {
	display: flex;
	flex-direction: column;
}
