.Main {
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;
	width: 100vw;
	height: 95vh;

	justify-content: center;

	font-family: "Abhaya Libre";
	font-size: 22px;
	background-color: rgb(254, 191, 113);
}

.Parent {
	display: flex;
	flex-direction: column;
}
