.Main {
	display: flex;
	width: 100vw;
	height: 95vh;

	justify-content: center;
	columns: 3;

	font-family: "Abhaya Libre";
	font-size: 22px;
}

.Parent {
	display: flex;
	flex-direction: column;
}
