.Navbar {
	width: 100%;
	height: 5vh;
	background-color: #3a3aa4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.NavBarButton {
	width: 10%;
	height: 90%;
	background-color: #6d6dd600;
	color: white;
	border-style: initial;
	border-radius: 1px;
	transition-duration: 500ms;
	font-family: "Abhaya Libre";
	font-size: 22px;
}

.NavBarButton:hover {
	background-color: #4a4ab6;
}

.NavBarCart {
	margin-left: 65vw;
	width: 10%;
	height: 90%;
	background-color: #00008200;
	color: white;
	border-style: initial;
	border-radius: 1px;
	transition-duration: 500ms;
	font-family: "Abhaya Libre";
	font-size: 22px;
}

.NavBarCart:hover {
	background-color: #4a4ab6;
}
