.Navbar {
	width: 100%;
	height: fit-content;
	background-color: #c49c94;
	display: flex;
	align-items: baseline;
	justify-content: space-evenly;
}

.NavBarButton {
	width: 30%;
	height: 30%;
	background-color: #4b4b4b00;
	color: #ffffff;
	border-style: initial;
	border-radius: 1px;
	transition-duration: 500ms;
	font-family: "Abhaya Libre";
	font-size: 2vw;
}

.NavBarButton:hover {
	background-color: rgb(242, 242, 242);
	color: rgb(87, 87, 87);
}

@media only screen and (max-width: 800px) {
	.NavBarButton {
		font-size: 5vw;
	}
}
