.Navbar{

    width: 100%;
    height: 5vh;
    background-image: linear-gradient(#100246, #050097);
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavBarButton{
    width: 10%;
    height: 90%;
    background-color: #6d6dd6;
    color: white;
    border-style: initial;
    border-radius: 1px;
    transition-duration: 500ms;
    font-family: 'Abhaya Libre';font-size: 22px;

}

.NavBarButton:hover{
    background-color: #4a4ab6;
}