.Navbar {
	width: 100vw;
	height: 5vh;
	background-color: rgb(254, 206, 147);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.NavBarButton {
	width: 10%;
	height: 90%;
	background-color: #6d6dd600;
	color: rgb(125, 77, 20);
	border-style: initial;
	border-radius: 1px;
	transition-duration: 500ms;
	font-family: "Abhaya Libre";
	font-size: 22px;
}

.NavBarButton:hover {
	background-color: #4a4ab6;
}

.NavBarCart {
	margin-left: 65vw;
	width: 10%;
	height: 90%;
	background-color: #00008200;
	color: rgb(125, 77, 20);
	border-style: initial;
	border-radius: 1px;
	transition-duration: 500ms;
	font-family: "Abhaya Libre";
	font-size: 22px;
}

.NavBarCart:hover {
	background-color: #4a4ab6;
}
