.AdminCreateItemTest {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 95vh;
}

.AdminColumn {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.AdminDropDown {
	width: 50%;
	background-color: rgb(217, 217, 217);
}

.AdminDropDownHeader {
	width: 100%;
	background-color: rgb(255, 255, 255);
}

.AdminDropDownContent {
	border-style: solid;
	overflow: hidden;
	border-width: 1px;
	width: 100%;
	height: fit-content;
	transition-duration: 500ms;
	background-color: rgb(255, 255, 255);
}

.AdminOptionName {
	font-size: 15px;
}

.AdminOptionValue {
	font-size: 10px;
}

.AdminItemListItem {
	margin: 0.5vh;
}

.AdminItemImage {
	width: max-content;
	height: 50px;
}

.AdminItemImageParent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#AdminDropDownContent3 {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
}

.AdminItemImageDelete {
	background-color: rgb(255, 94, 94);
	font-size: 0.5vh;
}

.AdminItemImageDelete:hover {
	background-color: rgb(255, 0, 0);
}

.AdminItemImageDelete:active {
	background-color: rgb(137, 36, 36);
}

.AdminItemImageBtn {
	font-size: 0.6vw;
}

.AdminCreateItemButtonPanel {
	margin-top: 1vh;
	border-style: solid;
	border-width: 1px;
	padding: 0.5%;
}

.AdminCreateItemAddBtn {
	font-size: 0.7vw;
	margin: 1%;
}

.AdminCreateItemAddBtnOption {
	font-size: 1vw;
	margin: 1%;
}
