.CartParent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.ItemList {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	min-height: 85vh;
	height: fit-content;
	background-color: rgb(255, 255, 255);
}

.ItemListChild {
	align-items: center;
	justify-content: center;
	display: flex;
	width: 99vw;
	height: 15vh;
	background-color: rgb(236, 236, 236);
	border-style: rgb(255, 255, 255);
}

.ItemColumn {
	font-size: 2vw;
	width: 33%;
	height: fit-content;
}
.OrderInfo {
	width: 100vw;
	height: 10vh;
	background-color: rgb(255, 255, 255);
}

.OrderBtn {
	width: 50vw;
	height: 5vh;
}

.ItemColumnImage {
	width: 7.5vw;
	height: max-content;
}
