.CreateItemPage {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: rgb(222, 222, 222);
}

.CreateItemInParent {
	margin: 2vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.CreateItemColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#description {
	height: 5vh;
	text-align: start;
	resize: none;
}

.CreateItemInput {
	width: 30vw;
	height: 5vh;
	font-size: 3vh;
}

.CreateItemBtn {
	width: 30vw;
	height: 5vh;
	font-size: 3vh;
	margin: 5px;
}
.CreateItemBtnDanger {
	width: 30vw;
	height: 5vh;
	font-size: 3vh;
	margin: 5px;
	background-color: rgb(226, 22, 22);
}

.CreateItemBtnDanger:hover {
	cursor: pointer;
}

.CreateItemBtn:hover {
	cursor: pointer;
}

.DateContainer {
	width: 100%;
	height: 10vh;
	margin: 1vw;
	border-style: solid;
	border-width: 0.1vw;
}
.DateText {
	font-size: larger;
}
.CheckBox {
	width: 100%;
	height: 25%;
}

.CheckBox:hover {
	cursor: pointer;
}

.ClearAll {
	background-color: rgb(226, 22, 22);
	margin-top: 1vw;
}
.ClearAll:hover {
	cursor: pointer;
}

.CreateItemLabel {
	font-size: 3.5vh;
}

.CreateItemOptionContainer {
	background-color: rgb(167, 167, 167);
	height: 25vh;
	width: 30vw;
	margin: 10px;
	overflow-y: scroll;
}
.CreateItemValueContainer {
	background-color: rgb(167, 167, 167);
	height: 20vh;
	width: 30vw;
	margin: 10px;
	overflow-y: scroll;
}

.CreateItemOption {
	font-size: 3vh;
	width: 100%;
	height: 20%;
	background-color: rgb(200, 200, 200);
	border-color: transparent;
}

.CreateItemOption:hover {
	cursor: pointer;
}

.UpdateItemList {
	width: 30vw;
	height: 30vh;
	border-style: solid;
}

.ImageManager {
	display: flex;
	border-style: solid;
	flex-direction: column;
	height: 60vh;
	width: 30vw;
}

.FileContainer {
	width: 100%;
	height: 50vh;
	overflow-y: scroll;
}
.ImageBtnContainer {
	margin-top: 10%;
}

.UpdateItemInfo {
	width: 50vw;
	height: 100vh;
}

.ItemListItem {
	width: 100%;
	height: 15%;
}

.ItemListItem:hover {
	cursor: pointer;
}
