.ItemPage {
	overflow-x: hidden;
	width: 100%;
	height: 95vh;
	display: flex;
	margin-top: 2vh;
	align-items: center;
	flex-direction: column;
}

.ItemPageImage {
	height: 50vh;
	margin: 1vw;
	margin-top: 5vw;
}
.Iteminfo {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.ItemName {
	font-size: 5vh;
	margin: 0.5vh;
}
.ItemPrice {
	font-size: 2vh;
	margin: 0.5vh;
}

.OptionParent {
	margin-top: 10px;
	border-style: solid;
	border-color: rgb(174, 174, 174);
	border-radius: 5px;
}

.OptionContainer {
	align-items: center;
	display: flex;
	padding: 10px;
	width: 80vw;
	height: 7.5vh;
	background-color: rgb(212, 212, 212);
	overflow-x: scroll;
	overflow-y: hidden;
}

.OptionName {
	background-color: rgb(212, 212, 212);
	font-size: large;
}

.OptionValue {
	text-align: center;
	border-radius: 15px;
	min-width: 20vw;
	background-color: #979696;
	width: 20vw;
	height: 100%;
	margin: 5px;
}

.OptionValue:hover {
	cursor: pointer;
}

.ItemPageBtn {
	width: 25vh;
	height: 5vh;
	margin-top: 1vh;
	background-color: #9c756f;
	border-color: #a0817c;
	color: rgb(255, 255, 255);
}

.ItemPageBtn:hover {
	background-color: rgb(255, 255, 255);
	border-color: rgb(200, 145, 78);
	color: rgb(155, 101, 36);
}

.ItemPageInp {
	width: 5vw;
}
