.ItemPage {
	padding-top: 5vh;
	overflow-x: hidden;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: top;
	justify-content: center;
	flex-direction: row;
}

.ItemPageColumn {
	margin-top: 3vh;
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#ItemPageColumn2 {
	align-self: center;
}

.ItemPageImage {
	height: 50vh;
	margin: 1vw;
	margin-top: 5vw;
}
.Iteminfo {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.ItemName {
	font-size: 4vh;
}
.ItemPrice {
	font-size: 3vh;
	margin: 0.5vh;
}

.OptionParent {
	margin-top: 20px;
	border-style: solid;
	border-color: rgb(174, 174, 174);
	border-radius: 5px;
}

.OptionContainer {
	align-items: center;
	display: flex;
	width: 40vw;
	height: 5vh;
	padding-bottom: 1vh;
	background-color: rgb(212, 212, 212);
	overflow-x: scroll;
	overflow-y: hidden;
}

.OptionName {
	background-color: rgb(212, 212, 212);
	font-size: large;
}

.OptionValue {
	font-size: 1.25vw;
	text-align: center;
	padding: 3px;
	border-radius: 5px;
	min-width: 10vw;
	background-color: #979696;
	width: fit-content;
	height: fit-content;
	margin: 5px;
}

.OptionValue:hover {
	cursor: pointer;
}

.ItemPageBtn {
	width: 30vw;
	height: 5vh;
	margin-top: 1vh;
	background-color: #c49c94;
	border-color: rgb(164, 133, 128);
	color: rgb(255, 255, 255);
}

.ItemPageBtn:hover {
	background-color: rgb(255, 255, 255);
	border-color: #c49c94;
	color: #8f655d;
}

.Quantity {
	font-size: 1.25vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.5vw;
	width: fit-content;
	height: 5vh;
}
.QuantityInp {
	font-size: 1vw;
	text-align: center;
	width: 2vw;
}

.CustomTextListInput {
	font-size: 2vh;
	display: flex;
	flex-direction: column;
	margin: 1.5vw;
	background-color: #c49c94;
	width: fit-content;
	height: 5vh;
}
.CustomTextListInputIN {
	font-size: 2.5vh;
	height: 3vh;
	width: 30vw;
}

@media only screen and (max-width: 750px) {
	.CustomTextListInput {
		margin: 10px;
	}

	.CustomTextListInputIN {
		width: 60vw;
	}

	#ItemPageColumn2 {
		margin-bottom: 10vh;
	}

	.ItemName {
		margin-top: 10vh;
	}

	.ItemPage {
		flex-direction: column;
		align-items: center;
		padding-top: 10vh;
	}

	.ItemPageBtn {
		width: 50vw;
		margin-bottom: 10vw;
	}

	.OptionContainer {
		width: 60vw;
		height: fit-content;
	}
	.OptionValue {
		min-width: 15vw;
		font-size: 4vw;
	}

	.Quantity {
		font-size: 4vw;
		margin-bottom: 10vw;
	}

	.QuantityInp {
		width: 20vw;
		margin: 1vw;
		font-size: 4.5vw;
	}
}
