.Item {
	margin: 2vw;
	width: fit-content;
	height: fit-content;
}

.Item:hover {
	cursor: pointer;
}

.ItemImage {
	width: 25vh;
	border-style: solid;
	border-radius: 2vw;
	border-color: gray;
}

@media only screen and (max-width: 800px) {
	.ItemImage {
		width: 20vh;
	}
}
