.ItemPage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.ItemPageImage {
	width: 75vw;
	margin: 1vw;
	margin-top: 5vw;
}
.Iteminfo {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.ItemName {
	font-size: 5vw;
	margin: 0.5vh;
}
.ItemPrice {
	font-size: 3vw;
	margin: 0.5vh;
}

.Option {
	margin-top: 2vh;
	display: flex;
	flex-direction: row;
}

.OptionTitle {
	font-size: 5vw;
	margin: 1vh;
}
