
.Item{
    color: white;
    width: 10vw;
    height: 15%;
    background-color: #3a3aa4;
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    transition-duration: 200ms;
}

.Item:hover{
    width: 20vw;
    height: 30%;
    font-size: 2em;
}

.Item:active{
    background-color: #8686c8;
    transition-duration: 50ms;
}

.ItemPageParent{
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(182, 182, 182, 0.472);
    z-index: 1;
    margin-top: -5vh;
    display: none;
}

.ItemPage{
    position: fixed;
    align-self: center;
    justify-self: center;
    width: 700px;
    height: 300px;
    background-color: rgb(230, 230, 230);
    z-index: 5;
    border-radius: 25px;
    display: flex;
}

.ItemPageImage{
    width: max-content;

}

.ImageColumn{
    width: max-content;
    margin: 30px;
}

.InfoColumn{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.Image{
    width: max-content;
    height: 80%;
}

.ItemPageName{
    font-size:larger;
    font-style: bold;
    margin-bottom: 20px;
}

.ItemPageDescription{
    
}


.OptionContainer{
    overflow-y: scroll;
    height: 50%;
}

.Option{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.OptionTitle{
    margin-right: 20px;
    font-size: max-content;
}

.OptionSelect{
    width: 100%;
    height: 100%;
}

.AddCartParent{
    align-self: flex-end;
    width: 10%;

}
.OptionAddCart{
    width: 10rem;
    height: 2rem;
    margin-left: -200%;
    margin-bottom: 25px;
    background-color: #3a3aa4;
    color: white;
    border: none;
}
.OptionAddCart:hover{
    background-color:#5858be;
    cursor: pointer;
}
.OptionAddCart:active{

    background-color:#7e7ed2;
}

.ExitButton{
    margin: 20px;
    cursor: pointer;
    font-size: larger;
}