.ItemPage {
	overflow-x: hidden;
	width: 100%;
	height: 150vh;
	display: flex;
	margin-top: 2vh;
	align-items: center;
	flex-direction: column;
}

.ItemPageImage {
	height: 50vh;
	margin: 1vw;
	margin-top: 5vw;
}
.Iteminfo {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.ItemName {
	font-size: 5vh;
	margin: 0.5vh;
}
.ItemPrice {
	font-size: 2vh;
	margin: 0.5vh;
}

.OptionParent {
	margin-top: 10px;
	border-style: solid;
	border-color: rgb(174, 174, 174);
	border-radius: 5px;
}

.OptionContainer {
	align-items: center;
	display: flex;
	padding: 10px;
	width: 80vw;
	height: 7.5vh;
	background-color: rgb(212, 212, 212);
	overflow-x: scroll;
	overflow-y: hidden;
}

.OptionName {
	background-color: rgb(212, 212, 212);
	font-size: large;
}

.OptionValue {
	text-align: center;
	border-radius: 15px;
	min-width: 20vw;
	background-color: aliceblue;
	width: 20vw;
	height: 100%;
	margin: 5px;
}
