.OptionParent {
	display: flex;
	flex-direction: column;
	margin: 30px;
	background-color: aquamarine;
	width: 50vw;
	height: 10vw;
}

.DropDown {
	height: 0;
	background-color: aquamarine;
	overflow: hidden;
}

.Content {
}
